[Unit]
Description=Update startpage data every 5 minutes

[Timer]
OnBootSec=10s
OnUnitActiveSec=300s
AccuracySec=5s

[Install]
WantedBy=timers.target
